<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/admin/buffets.css" />
	<meta charset="UTF-8" />
	<title>catering</title>
</head>
<body>

	<nav> 
		<a th:href="@{/admin/homeAdmin}">Home</a>
	    <a id='buffet' th:href="@{/admin/buffets}">Buffets</a>
	    <a th:href="@{/admin/chefs}">Chefs</a>
	    <a th:href="@{/admin/piatti}">Piatti</a>
	    <a th:href="@{/admin/ingredienti}">Ingredienti</a>
	    <a th:href="@{/admin/utenti}">Utenti</a>
	    <a th:href="@{/admin/logout}"><img id='logout' src='/admin/logout.png'></a>
	</nav>
	
	
	<div id='title'>
		<div id='add'>
		   <a th:href='@{/admin/buffetForm}' class="btn-buffet">
		        <svg>
		          <rect x="0" y="0" fill="none" width="100%" height="100%"/>
		        </svg>
		       Aggiungi
		   </a>
		   <div id="sort-container">
				<h4>Sorted by: </h4>
		   		<a class='sort-link' th:href='@{/admin/sort}'><img class='sort' src="/admin/asc.png"/></a>
		   		<a class='sort-link' th:href='@{/admin/reverse}'><img class='sort' src="/admin/desc.png"/></a>
			</div>
		</div>
		
		

  
		
	    <h1>BUFFETS:</h1>
    
	</div>
     
     <ul>
		<li th:each="buffet : ${buffetsAdmin}">
			
        		<div class="buffet-box" >
        		
        			<div id='info'> 
        			
        				<div class="tooltip"> <img src="/admin/info.png"/>
	  						<div class="tooltiptext"> 
			            		
			            		<div><span>Descrizione: </span><span th:text="${buffet.descrizione}"></span></div>
			            		<div><span>Immagine: </span><span th:text="${buffet.img}"></span></div>
			            		<div id='view'><a th:href="@{'/admin/buffetAdmin' + '/' + ${buffet.id}}" >Vedi altro</a></div>
			            		

	  							
	  						</div>
						</div>
		            
		            	<span th:text="${buffet.nome}"></span>
        			</div>
		            
		            <div id='btn-wrapper'>
			            <a th:href="@{'/admin/editBuffet' + '/' + ${buffet.id}}" class="btn-buffet">
			                <svg>
			                  <rect x="0" y="0" fill="none" width="100%" height="100%"/>
			                </svg>
			               Modifica
			            </a>
			            <a th:href="@{'/admin/buffetDelete' + '/' + ${buffet.id}}" class="btn-buffet"
			            th:data-confirm-delete="|Sei sicuro di voler eliminare il buffet ${buffet.nome}?|"
		  				onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
			                <svg>
			                  <rect x="0" y="0" fill="none" width="100%" height="100%"/>
			                </svg>
			               Cancella
			            </a>
	            	</div>
	            </div>
        		
		</li>
	 </ul>
    </div>
   <!-- <a th:href="@{/admin/homeAdmin}" class="btn-buffet">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%"/>
            </svg>
           Home
	</a> -->

      


</body>
</html>
