<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/admin/utenti.css" />
	<meta charset="UTF-8" />
	<title>catering</title>
</head>
<body>

	<nav> 
		<a th:href="@{/admin/homeAdmin}">Home</a>
	    <a th:href="@{/admin/buffets}">Buffets</a>
	    <a th:href="@{/admin/chefs}">Chefs</a>
	    <a th:href="@{/admin/piatti}">Piatti</a>
	    <a th:href="@{/admin/ingredienti}">Ingredienti</a>
	    <a id='utente' th:href="@{/admin/utenti}">Utenti</a>
	    <a th:href="@{/admin/logout}"><img id='logout' src='/admin/logout.png'></a>
	</nav>
	
		<div id='add'>
		  
		   <div id="sort-container">
				<h4>Sorted by: </h4>
		   		<a class='sort-link' th:href='@{/admin/sortUtente}'><img class='sort' src="/admin/asc.png"/></a>
		   		<a class='sort-link' th:href='@{/admin/reverseUtente}'><img class='sort' src="/admin/desc.png"/></a>
			</div>
		</div>
    <h1>UTENTI:</h1>
    
     <ul>
		<li th:each="utente : ${utenti}">
			
        		<div th:if="${utente.messaggio}!=null" class="utente-box" >
        		
        			
        			<div id='info'>
        				<span th:text="${utente.nome}"></span>
        				<span id='email' >-</span><span th:text="${utente.email}"></span>           	
		            
		            </div>
		            
		            
		            
		            <script th:inline="javascript">
	
	
	   					 var email = /*[[${utente.email}]]*/ 'Sebastian';
					</script>
					<div id='btn-wrapper'>
						<div><p th:if="${utente.risposto}">LETTO</p></div>
			            <a th:unless="${utente.risposto}" th:href="@{'/admin/rispondi' + '/' + ${utente.id}}" href="#" onclick="javascript:window.location='mailto:'+email+''"  class="btn-utente">
			                <svg>
			                  <rect x="0" y="0" fill="none" width="100%" height="100%"/>
			                </svg>
			               Rispondi
			            </a>
			            <a th:href="@{'/admin/utenteDetails' + '/' + ${utente.id}}" class="btn-utente">
			                <svg>
			                  <rect x="0" y="0" fill="none" width="100%" height="100%"/>
			                </svg>
			               Dettagli
			            </a>
			            <a th:href="@{'/admin/utenteDelete' + '/' + ${utente.id}}" class="btn-utente"
			            th:data-confirm-delete="|Sei sicuro di voler rifiutare ${utente.nome}?|"
		  				onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
			                <svg>
			                  <rect x="0" y="0" fill="none" width="100%" height="100%"/>
			                </svg>
			               Rifiuta
			            </a>
		            </div>
        		</div>
		</li>
	 </ul>
      


</body>
</html>
