    
    
    body {
        background-color: #FBE3D4;
    }
    
    .title {
        margin-top: 2%;
        font-size: 20px;
        color: #FBE3D4;
    }

    header {
        height: 350px;
        /* background-color: maroon; */
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        background-image: url("/images/sfondo.jpg");
    }

    nav {
        position: relative;
        width: 90%;
        height: 50px;
        background-color: darksalmon;
        border-radius: 8px;
        margin-top: 2%;
        
    }

    
      #contatti {
          background-color: #FBE3D4 !important;
      }
      ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        /* background: darksalmon; */
      }
      
      li {
        color: #fff;
        /* background: darksalmon; */
        display: flex;
        float: left;
        padding: 1rem;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
        width: 25% !important;
        justify-content: center;
        flex-direction: row;
        padding-right: 0;
        padding-left: 0;
        border-radius: 8px;
        justify-content: space-evenly;
      }
    

      li a {
        color: black;
        text-decoration: none;
      }
      
      li:hover,
      li :focus-within {
        background: #FBE3D4;
        cursor: pointer;
                
    }
      li:focus-within a {
        outline: none;
      }
      
      ul li ul {
        background: darksalmon;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 10.5%;
        left: 0;
        display: none;
        border-radius: 8px;
      }
      
      ul li:hover > ul,
      ul li:focus-within > ul,
      ul li ul:hover,
      ul li ul:focus {
        visibility: visible;
        opacity: 1;
        display: block

      }
      
      ul li ul li {
        clear: both;
        width: 100% !important;
      }

 


/* image */
img {
  height: 100%;
  width: -webkit-fill-available;
}
/* inputs */
input {
  margin-bottom:10px;
}
textarea {
  height:100px;
}
input:first-of-type
{
  margin-top:35px;
}
input, textarea {
  font-size: 10px;
  padding: 15px 10px 10px;

  border: 1px solid black;
  background: #FBE3D4;
  color:black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
}
::-webkit-input-placeholder {
   color: black;
}
:-moz-placeholder {
   color: black;  
}
::-moz-placeholder {
   color: black; 
}
:-ms-input-placeholder {  
   color: black;  
}


.contatti-container {
  height: 350px;
  width: 69%;
  margin: auto;
  position: relative;
  left: 0;
  right: 0;
  margin-top: 5%;
  background-color: darksalmon;
}

.image-container {
  position: absolute;
  height: 100%;
  width: 50%;
}

.text-container {
  position: absolute;
  height: 100%;
  width: 45%;
  right: 0;
  text-align: center;
}


   #title-form{
     margin-top: 5%;
   }


   footer{
    background-image: url("/images/sfondo.jpg");
    background-position: center bottom;
    height: 350px;
    margin-top: 5%;
    background-position-x: 0% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

	table {
	  border-collapse: collapse;
	  color: #FBE3D4;
	  width: 140%;
	}
	
	
	
	td, th {
	  border: 2px solid #FBE3D4;
	  text-align: left;
	  padding: 8px;
	}
	
	tr {
	  background-color: black;
	  opacity: 40%;
	}
	
	.table-box{
	  display: flex;
	  flex-direction: column;
	  align-items: flex-end;
	  margin-right: 5%;
	}
	
	.info-box{
	    display: flex;
	    align-items: center;
	    color: #FBE3D4;
	}
	
	.info{
    top: 22%;
    left: 10%;
    position: relative;
    text-align: center;
	}
	
	#info-title{
	    color: #FBE3D4;
	    margin-bottom: 5%;
	}
	
	.info-img {
	    width: 18%;
	    margin-right: 5%;
	}

  .wrapper{
    display: flex;
    width: 36%;
    margin-left: 2%;
    justify-content: space-between;
    align-items: flex-end;
  }

  iframe{
    max-width: min-content;
  }

  button{
    border-radius: 10px;
    background-color: #fbe3d4;
    margin-top: 5%;
  }